/target/
/gp.logs/
/.classpath
/.project
/.DS_Store
/dependency-reduced-pom.xml
/.flattened-pom.xml
/gp.app.svc/.flattened-pom.xml
/gp.app.api/.flattened-pom.xml
/gp.app.api/target/
/gp.app.svc/target/
/gp.app.api/.DS_Store
/gp.app.svc/.DS_Store
/.idea/
